 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/e202b2492963ed377d4ef78d5d0e2a5b3ec18163305a1e46904d27677faa6ebd0d158f83678dd31b11302e9858268bebbf3c172c72af863ceedc04_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-image-1 {
  width: 219px;
  height: 219px;
  margin: 60px auto 0 105px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: -189px 105px 0 381px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 60px 618px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -161px;
    margin-right: 19px;
    margin-left: 281px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 418px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 66px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}